.about {
    width: 100%;
    // height: 1600px;
    position: relative;
    .container {
      align-items: center;
      margin-top: 120px;
      padding: 15px;
      height: 400px;
      max-width: 1100px;
      // border: 2px solid red;
    }
    &-text {
      width: 50%;
      a {
        text-decoration: none;
        position: relative;
        z-index: 0;
        font-weight: 700;
        transition: 250ms all ease;
        &:before {
          z-index: -1;
          content: '';
          height: 9px;
          width: 80%;
          transition: 250ms all ease;
          background-color: darken($blue,6);
          bottom: 1px;
          right: -5%;
          position: absolute;
        }
        &:after {
          content: " →";
          top: 0;
          right: 0;
        }
        &:hover {
          color: black;
          &:before {
            right: -12%;
          }
        }
      }
    }
    &-img {
      width: 50%;
      background-image: url('../img/about-img.png');
      background-size: contain;
      height: 500px;
      background-repeat: no-repeat;
      background-position: center left;
    }
    
}


.about-blob {
    position: absolute;
    top: 0px;
    left: -800px;
    width: 90vw;
    animation: aboutMoveLarge 2s ease-in-out infinite alternate;
    // transform-origin: 50% 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 0;
  }
  
@keyframes aboutMove {
  0%   { transform: scale(.6)   translate(0px, -370px); }
  100% { transform: scale(.8)   translate(10px, -70px) rotate(-20deg); }
}

// @keyframes aboutMoveLarge {
//     0%   { transform: scale(.9)  }
//     100% { transform: scale(1) rotate(-20deg); }
//   }


// @media all and (max-width: 1200px) {

//   .about-blob {
//     right: -200px;
//     animation: move 100s ease-in-out infinite;
//   }
// }

.mt {
  padding-top: 200px;
}