// Blob Animations

.blob {
	position: absolute;
	top: -300px;
	right: -400px;
	animation: hero 20s ease-in-out infinite alternate;
	z-index: -1;
}

.about-blob {
	position: absolute;
	top: -70px;
	left: -300px;
	animation: about 20s ease-in-out infinite alternate;
	z-index: -1;
}

.hiw-blob {
	position: absolute;
	top: 70px;
	right: -550px;
	opacity: 0.6;
	animation: hiw 20s ease-in-out infinite alternate;
	z-index: -1;
}

@keyframes hiw {
	0% { transform: scale(0.8) }
	100% { transform: scale(0.9) rotate(-12deg) translate(-10px, 10px) }
}

@keyframes about {
	0% { transform: scale(0.8) }
	100% { transform: scale(0.9) rotate(-12deg) translate(-60px, 40px) }
}

@keyframes aboutMobile {
	0% { transform: scale(0.6) }
	100% { transform: scale(0.7) rotate(-16deg) translate(-60px, 40px) }
}

@keyframes hero {
	0% { transform: scale(0.9) translate(10px, 0px) }
	100% { transform: scale(1) translate(15px, 50px) rotate(-20deg) }
}

@keyframes heroMobile {
	0% { transform: scale(0.6) }
	100% { transform: scale(0.7) translate(-15px, -20px) rotate(-12deg) }
}

@media all and (max-width: 850px) {
	.blob {
		top: -300px;
		right: -700px;
		transform: scale(0.7);
		animation: heroMobile 20s ease-in-out infinite alternate;
	}

	.about-blob {
		top: -70px;
		left: -560px;
		animation: aboutMobile 20s ease-in-out infinite alternate;
		transform: scale(0.7);
	}
}

@media all and (max-width: 500px) {
	.hiw-blob {
		top: 70px;
		transform: scale(0.7);
	}
}
