section{
  width: 100%;
  position: relative;
}



.hero {
		margin: 120px 0;
  	z-index: 1;
  	.container {
   		align-items: center;
  	}
    &-text {
      width: 50%;
    }
    &-img {
      width: 50%;
      background-image: url('../img/hero-img.png');
      background-size: contain;
      height: 400px;
      background-repeat: no-repeat;
      background-position: center right;
    }
    
}


.blob {
    position: absolute;
    top: -400px;
    right: -400px;
    width: 90vw;
    animation: moveLarge 20s ease-in-out infinite alternate;
    transform-origin: 0% 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
@keyframes move {
  0%   { transform: scale(.6)   translate(50px, -370px); }
  100% { transform: scale(.8)   translate(10px, -70px) rotate(-20deg); }
}

@keyframes moveLarge {
    0%   { transform: scale(.9)   translate(10px, 0px); }
    100% { transform: scale(1)   translate(15px, 50px) rotate(-20deg); }
  }


// @media all and (max-width: 1200px) {

//   .blob {
//     right: -200px;
//     animation: move 100s ease-in-out infinite;
//   }
// }
