.admin-bar header { top: 32px }

header {
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 2px 20px;
	overflow: hidden;

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
	}
}

.brand-header {
	display: flex;
	align-items: center;

	a {
		margin: 0;
		padding: 4px 10px;
		line-height: 0;
		font-size: 0;
		z-index: 999;
	}
}

.header-logo { height: 40px }

#nav-menu {
	text-align: right;
	transform: translateX(420px);
	transition: 500ms all ease-in-out;
	opacity: 0;

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		border-bottom: none;
		display: inline-block;
	}

	li a {
		font-family: "Open Sans", sans-serif;
		padding: 0 1.25rem;
		text-decoration: none;
		font-weight: 600;
		transition: 250ms all ease;
		color: rgba(0, 0, 0, 0.65);
		font-size: 1rem;
		cursor: pointer;
	}

	li:hover a {
		color: $brand;
		cursor: pointer;
	}
}

#nav-toggle {
	width: 32px;
	height: 32px;
	margin: 11px 24px 0 0;
	position: absolute;
	z-index: 999;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
	opacity: 0.8;

	&:before {
		content: '';
		position: absolute;
		background-color: $white;
		height: 60px;
		width: 60px;
		top: -10px;
		right: -25px;
	}

	&:hover {
		opacity: 1;
		cursor: pointer;
	}

	span {
		transition: 0.25s ease-in-out;
		display: block;
		background: #2e393f;
		border-radius: 2px;
	}

	#hamburger {
		position: absolute;
		height: 100%;
		width: 100%;
		span {
			width: 30px;
			height: 4px;
			position: relative;
			top: 0;
			left: 0;
			margin: 5px 0;
			&:nth-child(1) { transition-delay: 0.3s }
			&:nth-child(2) { transition-delay: 0.38s }
			&:nth-child(3) { transition-delay: 0.44s }
		}
	}
	#cross {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 2px;
		transform: rotate(45deg);
		span {
			position: absolute;
			&:nth-child(1) {
				height: 0%;
				width: 4px;
				top: 0px;
				left: 14px;
				transition-delay: 0s;
			}
			&:nth-child(2) {
				width: 0%;
				height: 4px;
				left: 0px;
				top: 14px;
				transition-delay: 0.18s;
			}
		}
	}
}

#nav-menu.nav-open {
	opacity: 1;
	transform: translateX(-60px);
}

#nav-toggle.open {

	#hamburger span {
		width: 0%;
		&:nth-child(1) { transition-delay: 0s }
		&:nth-child(2) { transition-delay: 0.22s }
		&:nth-child(3) { transition-delay: 0.18s }
	}

	#cross {
		span:nth-child(1) {
			height: 100%;
			transition-delay: 0.28s;
		}
		span:nth-child(2) {
			width: 100%;
			transition-delay: 0.45s;
		}
	}

}



@media all and (max-width: 782px) {
	.admin-bar header { 
		top: 46px;
	}
}


/* Mobile */

@media all and (max-width: 720px) {
  
	header .container {
		flex-direction: column;
		align-items: flex-start;
	}

	header nav { width: 100% }

	header li {
		display: block;
		width: 100%;
		text-align: center;
		padding: 1.5rem 0;
	}

	header li a {font-size: 1.4rem}

	#nav-toggle {display: block}

	#nav-menu {
		transform: translateX(0) translateY(-300px);
		transition: 400ms all ease-in-out;
		height: 0vh;
		padding-top: 30px;
		li a {
			font-size: 1.8rem;
		}
	}

	#nav-menu.nav-open {
		opacity: 1;
		transform: translateY(0px);
		height: 100vh;
	}

	.brand-header:before {
		content: '';
		position: absolute;
		background-color: white;
		height: 60px;
		width: 100vw;
		top: 0px;
		left: 0px;
		z-index: 998;
	}
	   
}