/*=============================================
=                 STYLESHEET                 =
=============================================*/

@import 'normalise';
@import 'wordpress';
@import 'colors';
@import 'typography';
@import 'buttons';
@import 'nav';
@import 'hero';
@import 'about';
@import 'blog';
@import 'cards';
@import 'footer';
@import 'animations';

html, body, main, #page {
    height: 100%;
    background-color: $white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
}

.bg-squiggle {
    background-image: url('../img/squiggle.png');
    overflow: hidden;
}