ul{padding:0;margin:0}
body{margin:0}
input,select{-webkit-appearance:none;-moz-appearance:none;appearance:none}
a,a:before,a:after,a:hover{cursor:pointer}
.menu-toggle,.main-navigation.toggled ul{display:block}
.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:0 0 1.5em;overflow:hidden}
.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{float:left;width:50%}
.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{float:right;text-align:right;width:50%}
.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}
.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,0.6);box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;-webkit-clip-path:none;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}
#content[tabindex="-1"]:focus{outline:0}
.alignleft{display:inline;float:left;margin-right:1.5em}
.alignright{display:inline;float:right;margin-left:1.5em}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}
.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:"";display:table;table-layout:fixed}
.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}
.widget{margin:0 0 1.5em}
.widget select{max-width:100%}
.sticky{display:block}
.hentry{margin:0 0 1.5em}
.updated:not(.published){display:none}
.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}
.page-links{clear:both;margin:0 0 1.5em}
.comment-content a{word-wrap:break-word}
.bypostauthor{display:block}
.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}
.infinity-end.neverending .site-footer{display:block}
.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:0;margin-bottom:0;margin-top:0;padding:0}
embed,iframe,object{max-width:100%}
.custom-logo-link{display:inline-block}
.wp-caption{margin-bottom:1.5em;max-width:100%}
.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}
.wp-caption .wp-caption-text{margin:.8075em 0}
.wp-caption-text{text-align:center}
.gallery{margin-bottom:1.5em}
.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%}
.gallery-columns-2 .gallery-item{max-width:50%}
.gallery-columns-3 .gallery-item{max-width:33.33%}
.gallery-columns-4 .gallery-item{max-width:25%}
.gallery-columns-5 .gallery-item{max-width:20%}
.gallery-columns-6 .gallery-item{max-width:16.66%}
.gallery-columns-7 .gallery-item{max-width:14.28%}
.gallery-columns-8 .gallery-item{max-width:12.5%}
.gallery-columns-9 .gallery-item{max-width:11.11%}
.gallery-caption{display:block}
.editor-post-title__input{font-family:"Open Sans",sans-serif;font-weight:700}
html{font-size:16px}
h1,h2,h3,h4,h5,h6,label{font-family:"Open Sans",sans-serif;color:#2c2b2d;letter-spacing:0;font-weight:700;font-style:normal;word-break:break-word;word-wrap:break-word;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
h1{font-size:2.2rem;margin:2.4rem 0 .31rem 0;line-height:1.2em}
h2{font-size:1.75rem;margin:2.4rem 0 .31rem 0}
h3{font-size:1.45rem;margin:2.4rem 0 -0.5rem 0}
h4{font-size:1.25rem;margin:2.4rem 0 -0.7rem 0}
h5{font-size:1rem;margin:2.4rem 0 -0.7rem 0}
h6{font-size:.8rem;margin:2.4rem 0 -0.7rem 0}
.h1-title{font-size:3rem;display:inline}
.page-title{padding:20px;text-align:center}
a{text-decoration:underline}
p,a,li,textarea{color:#2c2b2d;font-family:'Libre Baskerville',serif;font-size:1.1rem;letter-spacing:-0.003rem;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;line-height:1.7}
p,a{margin:1.4rem 0 .4rem 0}
a:hover{color:#79767b}
strong{font-weight:700}
em{font-style:italic}
.small{font-size:1rem;color:#464447;margin:0;padding:0}
.small a{font-family:"Open Sans",sans-serif;color:#313032;font-size:1rem;text-decoration:none;font-weight:600}
li{font-size:1.25rem;padding:0}
blockquote{margin:2rem 3rem;padding:5px 40px 20px 40px;text-align:left;border-left:3px solid #2c2b2d}
blockquote p{font-size:1.2rem;font-style:italic}
blockquote cite{font-family:'Libre Baskerville',serif;color:#21759b}
.text-center{text-align:center}
small span{font-size:1rem;line-height:1}
pre{white-space:pre-wrap;word-break:break-word;word-wrap:break-word;-webkit-hyphens:none;-ms-hyphens:none;hyphens:none}
.admin-bar header{top:32px}
body{position:relative}
.header-logo{position:absolute;top:10px;left:0;height:40px;z-index:999}
#nav-menu{z-index:998;position:absolute;top:0;right:0}
#nav-menu ul{-webkit-transition:500ms all ease-in-out;transition:500ms all ease-in-out;list-style-type:none;padding:0}
#nav-menu li{position:relative;display:inline-block;padding:10px 0}
#nav-menu li a{font-family:"Open Sans",sans-serif;padding:0 1.25rem;text-decoration:none;font-weight:600;-webkit-transition:250ms all ease;transition:250ms all ease;color:rgba(0,0,0,0.8);font-size:.9rem;position:relative;text-transform:uppercase}
#nav-menu li:before{-webkit-transition:350ms width ease;transition:350ms width ease;z-index:-1;content:'';height:9px;width:0;background-color:#b4dcf5;bottom:11px;right:4%;position:absolute}
#nav-menu li:hover:before{width:50%}
#nav-toggle{width:32px;height:32px;margin:10px 28px 0 0;position:absolute;z-index:999;right:0;top:0;bottom:0;opacity:.8;display:none}
#nav-toggle:hover{opacity:1}
#nav-toggle span{-webkit-transition:.25s ease-in-out;transition:.25s ease-in-out;display:block;background:#2e393f;border-radius:2px}
#nav-toggle #hamburger{position:absolute;height:100%;width:100%}
#nav-toggle #hamburger span{width:30px;height:4px;position:relative;top:0;left:0;margin:5px 0}
#nav-toggle #hamburger span:nth-child(1){-webkit-transition-delay:.3s;transition-delay:.3s}
#nav-toggle #hamburger span:nth-child(2){-webkit-transition-delay:.38s;transition-delay:.38s}
#nav-toggle #hamburger span:nth-child(3){-webkit-transition-delay:.44s;transition-delay:.44s}
#nav-toggle #cross{position:absolute;height:100%;width:100%;top:2px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
#nav-toggle #cross span{position:absolute}
#nav-toggle #cross span:nth-child(1){height:0;width:4px;top:0;left:14px;-webkit-transition-delay:0s;transition-delay:0s}
#nav-toggle #cross span:nth-child(2){width:0;height:4px;left:0;top:14px;-webkit-transition-delay:.18s;transition-delay:.18s}
#nav-toggle.open #hamburger span{width:0}
#nav-toggle.open #hamburger span:nth-child(1){-webkit-transition-delay:0s;transition-delay:0s}
#nav-toggle.open #hamburger span:nth-child(2){-webkit-transition-delay:.22s;transition-delay:.22s}
#nav-toggle.open #hamburger span:nth-child(3){-webkit-transition-delay:.18s;transition-delay:.18s}
#nav-toggle.open #cross span:nth-child(1){height:100%;-webkit-transition-delay:.28s;transition-delay:.28s}
#nav-toggle.open #cross span:nth-child(2){width:100%;-webkit-transition-delay:.45s;transition-delay:.45s}
.hero{background-image:url("../img/squiggle.png");width:100%;height:1600px;position:relative;overflow:hidden}
.hero .container{-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top:200px;padding:15px;height:400px}
.hero-text{width:50%}
.hero-text h1{font-size:2.7rem;margin-top:0;font-family:'Libre Baskerville',serif}
.hero-text p{font-family:'Open Sans',sans-serif;padding:0 0 10px 0}
.hero-text a{text-decoration:none;position:relative;z-index:1;font-weight:700;-webkit-transition:250ms all ease;transition:250ms all ease}
.hero-text a:before{z-index:-1;content:'';height:9px;width:80%;-webkit-transition:250ms all ease;transition:250ms all ease;background-color:#c6e4f7;bottom:1px;right:-5%;position:absolute}
.hero-text a:after{content:" →";top:0;right:0}
.hero-text a:hover{color:black}
.hero-text a:hover:before{right:-12%}
.hero-img{width:50%;background-image:url("../img/hero-img.png");background-size:contain;height:400px;background-repeat:no-repeat;background-position:center center}
.blob{position:absolute;top:0;fill:#023f92;right:-200px;width:100vw;-webkit-animation:moveLarge 20s ease-in-out infinite alternate;animation:moveLarge 20s ease-in-out infinite alternate;-webkit-transform-origin:50% 50%;transform-origin:50% 50%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
.bg-wrapper{height:100%;margin-top:49px}
.article-container{max-width:680px;margin:0 auto;padding:0 20px 140px;display:block;-webkit-hyphens:auto;-ms-hyphens:auto;hyphens:auto}
.article-container .title{padding:30px 0 10px}
.article-container a{word-break:break-all}
.article-container figure{margin:0;margin-bottom:8px;width:100%;border:1px solid #f8f8f8;padding-bottom:56.25%}
.article-container ol{padding-left:48px}
.article-container img{display:block;height:auto;max-width:100%;border:1px solid #f8f8f8}
.article-container .view-buttons-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.article-meta{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:20px 0 40px}
.article-meta a{margin:0}
.article-meta img{padding-right:10px;border-radius:20px}
.article-meta-info{padding-top:2px}
.other-articles .card-container{padding:80px 0 20px}
.other-articles .card-container .card{opacity:1}
.ct-mg{margin-top:70px}
.image-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.article-container .avatar{border:0}
.card-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;max-width:1000px;margin:10px 10px 40px 10px;-ms-flex-wrap:wrap;flex-wrap:wrap;font-family:'Open Sans',sans-serif}
.card{overflow:hidden;border-radius:8px;width:300px;height:400px;margin:10px;background-color:white;position:relative;-webkit-box-shadow:0 2px 20px 1px rgba(44,43,45,0.2);box-shadow:0 2px 20px 1px rgba(44,43,45,0.2);-webkit-transition:200ms all ease-in-out;transition:200ms all ease-in-out}
.card h4{margin:0;padding:0}
.card:hover{-webkit-transform:translateY(-2px);transform:translateY(-2px)}
.card-image{height:200px}
.card-text{padding:20px}
.card-title{font-family:'Open Sans',sans-serif;text-decoration:none;color:#2c2b2d;line-height:1.3;font-size:1rem}
.card-title:hover{color:#525054}
.card-content{font-family:'Open Sans',sans-serif;color:#4b494c;line-height:1.3;font-size:.85rem;padding:4px 0;margin:0}
.card-meta{position:absolute;bottom:8px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:20px 0}
.card-meta img{border-radius:50px}
.card-meta-text{padding:0 10px}
.card-username{margin:0;line-height:1}
.card-username a{font-family:'Open Sans',sans-serif;text-decoration:none;color:#2c2b2d;line-height:1.3;font-weight:600;font-size:.9rem}
.card-username a:hover{color:#525054}
.card-date{font-family:'Open Sans',sans-serif;margin:0;color:#4b494c;line-height:1.3;font-weight:400;font-size:.9rem}
footer{padding:0 15px 1px;-webkit-box-sizing:border-box;box-sizing:border-box;margin-top:-3px;width:100%;position:relative}
footer p,footer a{color:white}
footer a:hover{color:white;opacity:.9;cursor:pointer}
footer .logo{height:80px;margin:20px 0}
footer:before{position:absolute;content:"";background-position:center bottom;background-size:100% auto;background-repeat:no-repeat;pointer-events:none;top:-138px;height:140px;left:0;right:0}
.footer-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.footer-links h5{text-align:center;color:white}
html,body,main,#page{height:100%;background-color:#fefefe}
.container{max-width:1000px;margin:0 auto;position:relative}
.flex{display:-webkit-box;display:-ms-flexbox;display:flex}
@media screen and (min-width:37.5em){.menu-toggle{display:none}
.main-navigation ul{display:block}
}@media all and (max-width:1200px){.blob{right:-200px;-webkit-animation:move 100s ease-in-out infinite;animation:move 100s ease-in-out infinite}
}@media(max-width:861px){.logo{height:23px;margin-bottom:6px}
}@media all and (max-width:782px){.admin-bar header{top:46px}
}@media(max-width:767px){.logo{height:36px}
}@media all and (max-width:720px){html{font-size:14px}
#nav-menu{height:0;width:100%;overflow:hidden;background-image:url(../img/squiggle.png);-webkit-transition:400ms all ease-in-out;transition:400ms all ease-in-out;z-index:1}
#nav-menu ul{padding-top:100px}
#nav-menu li{display:block;width:100%;text-align:center;padding:1.4rem 0}
#nav-menu li:hover:before{width:0}
#nav-menu li a{font-size:1.6rem;padding:0 3rem}
#nav-menu li a:before{-webkit-transition:350ms width ease;transition:350ms width ease;z-index:-1;content:'';height:14px;width:0;background-color:#fdbfa9;bottom:0;right:4%;position:absolute}
#nav-menu li a:hover:before{width:50%}
#nav-toggle{display:block;margin:13px 20px 0 0}
#nav-menu.nav-open{height:104vh}
}@media all and (max-width:560px){blockquote{margin:2rem 1.2rem 2rem .5rem;padding:10px 20px 10px 20px;text-align:left;border-left:3px solid #21759b}
blockquote p{margin-top:0}
}@media all and (max-width:450px){ol,ul{padding-left:30px}
.article-container{padding:0 15px 140px}
}@-webkit-keyframes move{0%{-webkit-transform:scale(0.6) translate(50px,-370px);transform:scale(0.6) translate(50px,-370px)}
100%{-webkit-transform:scale(0.8) translate(10px,-70px) rotate(-20deg);transform:scale(0.8) translate(10px,-70px) rotate(-20deg)}
}@keyframes move{0%{-webkit-transform:scale(0.6) translate(50px,-370px);transform:scale(0.6) translate(50px,-370px)}
100%{-webkit-transform:scale(0.8) translate(10px,-70px) rotate(-20deg);transform:scale(0.8) translate(10px,-70px) rotate(-20deg)}
}@-webkit-keyframes moveLarge{0%{-webkit-transform:scale(0.9) translate(50px,-100px);transform:scale(0.9) translate(50px,-100px)}
100%{-webkit-transform:scale(1) translate(10px,-70px) rotate(-20deg);transform:scale(1) translate(10px,-70px) rotate(-20deg)}
}@keyframes moveLarge{0%{-webkit-transform:scale(0.9) translate(50px,-100px);transform:scale(0.9) translate(50px,-100px)}
100%{-webkit-transform:scale(1) translate(10px,-70px) rotate(-20deg);transform:scale(1) translate(10px,-70px) rotate(-20deg)}
}