ul{padding:0;margin:0}
body{margin:0}
input,select{-webkit-appearance:none;-moz-appearance:none;appearance:none}
a,a:before,a:after,a:hover{cursor:pointer}
.menu-toggle,.main-navigation.toggled ul{display:block}
.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:0 0 1.5em;overflow:hidden}
.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{float:left;width:50%}
.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{float:right;text-align:right;width:50%}
.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}
.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,0.6);box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;-webkit-clip-path:none;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}
#content[tabindex="-1"]:focus{outline:0}
.alignleft{display:inline;float:left;margin-right:1.5em}
.alignright{display:inline;float:right;margin-left:1.5em}
.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}
.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:"";display:table;table-layout:fixed}
.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}
.widget{margin:0 0 1.5em}
.widget select{max-width:100%}
.sticky{display:block}
.hentry{margin:0 0 1.5em}
.updated:not(.published){display:none}
.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}
.page-links{clear:both;margin:0 0 1.5em}
.comment-content a{word-wrap:break-word}
.bypostauthor{display:block}
.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}
.infinity-end.neverending .site-footer{display:block}
.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:0;margin-bottom:0;margin-top:0;padding:0}
embed,iframe,object{max-width:100%}
.custom-logo-link{display:inline-block}
.wp-caption{margin-bottom:1.5em;max-width:100%}
.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}
.wp-caption .wp-caption-text{margin:.8075em 0}
.wp-caption-text{text-align:center}
.gallery{margin-bottom:1.5em}
.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%}
.gallery-columns-2 .gallery-item{max-width:50%}
.gallery-columns-3 .gallery-item{max-width:33.33%}
.gallery-columns-4 .gallery-item{max-width:25%}
.gallery-columns-5 .gallery-item{max-width:20%}
.gallery-columns-6 .gallery-item{max-width:16.66%}
.gallery-columns-7 .gallery-item{max-width:14.28%}
.gallery-columns-8 .gallery-item{max-width:12.5%}
.gallery-columns-9 .gallery-item{max-width:11.11%}
.gallery-caption{display:block}
.editor-post-title__input{font-family:"Open Sans",sans-serif;font-weight:700}
html{font-size:16px}
h1,h2,h3,h4,h5,h6,p,label,a,li,textarea{font-family:'Libre Baskerville',serif;color:#2c2b2d;letter-spacing:0;font-weight:700;font-style:normal;word-break:break-word;word-wrap:break-word;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
h1{font-size:2.9rem;margin:0 0 .31rem 0;line-height:1.2em}
h2{font-size:1.75rem;margin:2.4rem 0 .31rem 0}
h3{margin:15px 0 35px 0;font-size:1.2rem}
h4{margin:10px 0;font-size:1rem}
h5{font-size:1rem;margin:2.4rem 0 -0.7rem 0}
h6{font-size:.8rem;margin:2.4rem 0 -0.7rem 0}
p{font-family:'Open Sans',sans-serif;margin:15px 0 25px 0;font-size:1.1rem;font-weight:200;line-height:1.7rem;letter-spacing:-0.003rem}
.h1-title{font-size:3rem;display:inline}
.h1-underline{position:relative;z-index:1;display:inline;line-height:1.7}
.h1-underline:before{z-index:-1;content:'';height:20px;width:70%;-webkit-transition:250ms all ease;transition:250ms all ease;background-color:#c6e4f7;bottom:1px;right:-10%;position:absolute}
.h2-underline{position:relative;z-index:1;display:inline}
.h2-underline:before{z-index:-1;content:'';height:16px;width:70%;-webkit-transition:250ms all ease;transition:250ms all ease;background-color:#c6e4f7;bottom:14px;left:50%;position:absolute}
.reverse-underline:before{left:-10%}
.h3-underline{position:relative;z-index:1;display:inline}
.h3-underline:before{z-index:-1;content:'';height:12px;width:70%;-webkit-transition:250ms all ease;transition:250ms all ease;background-color:#c6e4f7;bottom:-3px;left:50%;position:absolute}
a{text-decoration:underline}
a,li,textarea{font-size:1.1rem;letter-spacing:-0.003rem;line-height:1.7}
strong{font-weight:700}
em{font-style:italic}
.small{font-size:1rem;color:#464447;margin:0;padding:0}
.small a{font-family:"Open Sans",sans-serif;color:#313032;font-size:1rem;text-decoration:none;font-weight:600}
li{font-size:1.25rem;padding:0}
blockquote{margin:2rem 3rem;padding:5px 40px 20px 40px;text-align:left;border-left:3px solid #2c2b2d}
blockquote p{font-size:1.2rem;font-style:italic}
blockquote cite{font-family:'Libre Baskerville',serif;color:#21759b}
.text-center{text-align:center}
.text-right{text-align:right}
small{font-size:1rem;line-height:.4}
pre{white-space:pre-wrap;word-break:break-word;word-wrap:break-word;-webkit-hyphens:none;-ms-hyphens:none;hyphens:none}
.btn{padding:13px 24px;height:48px;font-family:'Libre Baskerville',serif;text-decoration:none;font-weight:700;cursor:pointer;-webkit-transition:all 200ms ease-in;transition:all 200ms ease-in;border:0;font-size:1.1rem;letter-spacing:-0.003rem}
.btn:hover{text-decoration:none;cursor:pointer}
.btn-black{background-color:#2c2b2d;color:white}
.btn-black:hover{color:white;background-color:#403f42}
.arrow-link{text-decoration:none;position:relative;z-index:0;font-weight:700;-webkit-transition:250ms all ease;transition:250ms all ease}
.arrow-link:before{z-index:-1;content:"";height:9px;width:80%;-webkit-transition:250ms all ease;transition:250ms all ease;background-color:#c6e4f7;bottom:1px;right:-5%;position:absolute}
.arrow-link:after{content:" →";top:0;right:0}
.arrow-link:hover{color:black}
.arrow-link:hover:before{right:-12%}
.arrow-link-pink:before{background-color:#fee4db}
input{height:36px;padding:6px 12px;border:1px solid #cdcdcd;font-size:1rem;-webkit-box-sizing:border-box;box-sizing:border-box;margin:4px}
.btn-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:100%;-ms-flex-wrap:wrap;flex-wrap:wrap}
.btn-group input{-webkit-box-flex:2;-ms-flex-positive:2;flex-grow:2}
.admin-bar header{top:32px}
.header-logo{position:absolute;top:14px;left:15px;height:40px;z-index:999}
.nav{z-index:998;position:absolute;top:6px;right:0}
.nav ul{-webkit-transition:500ms all ease-in-out;transition:500ms all ease-in-out;list-style-type:none;padding:0}
.nav li{position:relative;display:inline-block;padding:10px 0}
.nav li a{font-family:"Open Sans",sans-serif;padding:0 1.25rem;text-decoration:none;font-weight:600;-webkit-transition:250ms all ease;transition:250ms all ease;color:rgba(0,0,0,0.8);font-size:.9rem;position:relative;text-transform:uppercase}
.nav li:before{-webkit-transition:350ms width ease;transition:350ms width ease;z-index:-1;content:"";height:9px;width:0;background-color:#b4dcf5;bottom:11px;right:4%;position:absolute}
.nav li:hover:before{width:50%}
#nav-toggle{width:32px;height:32px;margin:10px 28px 0 0;position:absolute;z-index:999;right:0;top:0;bottom:0;opacity:.8;display:none}
#nav-toggle:hover{opacity:1}
#nav-toggle span{-webkit-transition:.25s ease-in-out;transition:.25s ease-in-out;display:block;background:#2e393f;border-radius:2px}
#nav-toggle #hamburger{position:absolute;height:100%;width:100%}
#nav-toggle #hamburger span{width:30px;height:4px;position:relative;top:0;left:0;margin:5px 0}
#nav-toggle #hamburger span:nth-child(1){-webkit-transition-delay:.3s;transition-delay:.3s}
#nav-toggle #hamburger span:nth-child(2){-webkit-transition-delay:.38s;transition-delay:.38s}
#nav-toggle #hamburger span:nth-child(3){-webkit-transition-delay:.44s;transition-delay:.44s}
#nav-toggle #cross{position:absolute;height:100%;width:100%;top:2px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
#nav-toggle #cross span{position:absolute}
#nav-toggle #cross span:nth-child(1){height:0;width:4px;top:0;left:14px;-webkit-transition-delay:0s;transition-delay:0s}
#nav-toggle #cross span:nth-child(2){width:0;height:4px;left:0;top:14px;-webkit-transition-delay:.18s;transition-delay:.18s}
#nav-toggle.open #hamburger span{width:0}
#nav-toggle.open #hamburger span:nth-child(1){-webkit-transition-delay:0s;transition-delay:0s}
#nav-toggle.open #hamburger span:nth-child(2){-webkit-transition-delay:.22s;transition-delay:.22s}
#nav-toggle.open #hamburger span:nth-child(3){-webkit-transition-delay:.18s;transition-delay:.18s}
#nav-toggle.open #cross span:nth-child(1){height:100%;-webkit-transition-delay:.28s;transition-delay:.28s}
#nav-toggle.open #cross span:nth-child(2){width:100%;-webkit-transition-delay:.45s;transition-delay:.45s}
li.nav-btn{padding:6px 10px;margin:0 15px;background-color:#2c2b2d}
li.nav-btn a{color:white;text-transform:none;font-family:'Libre Baskerville',serif;text-decoration:none;font-weight:700;cursor:pointer;-webkit-transition:all 200ms ease-in;transition:all 200ms ease-in;font-size:1rem;letter-spacing:-0.003rem}
li.nav-btn:hover{text-decoration:none;cursor:pointer;color:white;background-color:#403f42}
.right-pic{margin:50px auto;z-index:1}
.right-pic .container{-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.right-pic-text{overflow:hidden;width:50%}
.right-pic-img{width:50%;background-image:url("../img/hero-img.png");background-size:contain;height:400px;background-repeat:no-repeat;background-position:center right}
.left-pic{width:100%;position:relative;z-index:1}
.left-pic-text{width:49%;padding-left:15px;overflow:hidden}
.left-pic-img{width:49%;background-image:url("../img/about-img.png");background-size:contain;height:500px;background-repeat:no-repeat;background-position:center left;position:relative}
.car{height:400px;background-image:url("../img/signup-img.png")}
.egobar{height:130px;width:100%;overflow:hidden;position:relative;background-color:#fcfcfc;padding-top:20px}
.carousel{position:absolute;left:0;overflow:hidden;padding-top:26px;width:4210px;opacity:.65}
.how-it-works{width:100%;position:relative;overflow:hidden;padding-bottom:40px;z-index:0}
#timeline{max-width:1100px;margin:120px auto 20px;position:relative;padding:0 10px;-webkit-transition:all .4s ease;transition:all .4s ease}
#timeline:after{content:"";clear:both;display:table;width:100%}
#timeline .timeline-item{padding-bottom:60px;position:relative}
#timeline .timeline-item:after,#timeline .timeline-item:before{content:"";display:block;width:100%;clear:both}
#timeline .timeline-item:before{content:"";width:6px;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(70%,rgba(0,0,0,0.12)),color-stop(0,rgba(255,255,255,0)));background-image:linear-gradient(rgba(0,0,0,0.12) 70%,rgba(255,255,255,0) 0);background-position:right;background-size:6px 20px;background-repeat:repeat-y;height:86%;left:50%;top:32px;position:absolute}
#timeline .timeline-item:last-child:before{height:100%;width:6px;background-image:none}
#timeline .timeline-item .timeline-icon{width:32px;height:32px;position:absolute;top:0;left:50%;overflow:hidden;margin-left:-13px;border-radius:50%}
#timeline .timeline-item .timeline-icon svg{position:relative;top:-7px;-webkit-transform:scale(0.7);transform:scale(0.7);left:-7px}
#timeline .timeline-item .timeline-content{-webkit-box-sizing:border-box;box-sizing:border-box;width:38%;padding:0 15px;border-radius:5px;-webkit-transition:all .3s ease;transition:all .3s ease;position:relative;z-index:0;opacity:0}
#timeline .timeline-item .timeline-content .timeline-number{position:absolute;top:-60px;left:0;height:100px;width:100px;z-index:-1;opacity:.4}
#timeline .timeline-item .timeline-content .timeline-right{left:auto;right:40%}
#timeline .timeline-item .timeline-content h2{padding:15px;margin:-20px 0 0 -20px}
#timeline .timeline-item .timeline-content.right{float:right}
.testimonials{position:relative}
.card{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:white;margin:55px auto;border:1px solid #cdcdcd;border-radius:13px;padding:35px 50px;max-width:480px;position:relative;z-index:1}
.card:before{position:absolute;content:"";right:20px;top:4px;height:220px;width:220px;background-image:url("../img/testimonial-blob.png");background-size:220px;background-repeat:no-repeat;z-index:0}
.card:after{position:absolute;content:"";left:16px;top:4px;height:160px;width:160px;background-image:url("../img/quote-marks.png");background-size:160px;background-repeat:no-repeat;z-index:0}
.card-inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;z-index:2}
.card-text{-webkit-box-flex:2;-ms-flex-positive:2;flex-grow:2;padding-right:38px}
.card-text p{font-size:.9rem;color:#464447;line-height:1.2}
.card-details{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.card-details img{display:none;height:40px;width:40px;margin-right:8px;border-radius:40px}
.card-img img{height:160px;width:160px}
.card-name{font-family:"Libre Baskerville",serif;font-weight:700;margin:0;line-height:1;display:inline}
.card-location{margin:0;padding:0;line-height:1}
.testimonial-blob-1 svg{position:absolute;left:-300px;bottom:-340px}
.testimonial-blob-2 svg{left:40%;position:absolute;bottom:-300px}
.testimonial-blob-3 svg{right:-300px;position:absolute;bottom:-400px}
footer{background-color:#fdf1d4;margin:0 auto}
footer .container{padding:40px 15px;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
footer .footer-flex{padding:40px 40px;width:166px}
footer .footer-title{font-family:'Libre Baskerville',serif;margin:10px 0;font-size:1rem}
footer ul{list-style-type:none}
footer li{line-height:1.2}
footer li a{line-height:1;text-decoration:none;font-family:"Open Sans",sans-serif;font-weight:200;font-size:1rem;color:#2c2b2d;opacity:.9}
footer li a:hover{opacity:1;text-decoration:underline}
footer .social-icons{opacity:.7;padding:0 5px;cursor:pointer;text-decoration:none;-webkit-transition:200ms opacity ease-in;transition:200ms opacity ease-in;font-weight:700}
footer .social-icons:hover{opacity:1}
footer .copyright{font-family:"Open Sans",sans-serif;margin:0;padding:0 5px;color:#3b3a3d;font-size:.9rem}
.scroll-animation{opacity:0}
.slide-down{opacity:0;-webkit-animation:1s slideDown ease-in-out forwards;animation:1s slideDown ease-in-out forwards}
.slide-in-left{opacity:0;-webkit-animation:1s slideInLeft .3s ease-in-out forwards;animation:1s slideInLeft .3s ease-in-out forwards}
.slide-in-left-delay{opacity:0;-webkit-animation:1s slideInLeft 1s ease-in-out forwards;animation:1s slideInLeft 1s ease-in-out forwards}
.slide-in-right{opacity:0;-webkit-animation:1s slideInRight .3s ease-in-out forwards;animation:1s slideInRight .3s ease-in-out forwards}
.slide-in-right-delay{opacity:0;-webkit-animation:1s slideInRight 1s ease-in-out forwards;animation:1s slideInRight 1s ease-in-out forwards}
.blob{position:absolute;top:-300px;right:-400px;opacity:0;-webkit-animation:hero 20s ease-in-out infinite alternate,fadeIn .4s ease-in forwards;animation:hero 20s ease-in-out infinite alternate,fadeIn .4s ease-in forwards;z-index:-1}
.about-blob{position:absolute;top:-70px;left:-300px;opacity:0;-webkit-animation:about 20s ease-in-out infinite alternate,.7s fadeIn .4s ease-in forwards;animation:about 20s ease-in-out infinite alternate,.7s fadeIn .4s ease-in forwards;z-index:-1}
.hiw-blob{position:absolute;top:70px;right:-550px;opacity:.6;-webkit-animation:hiw 20s ease-in-out infinite alternate;animation:hiw 20s ease-in-out infinite alternate;z-index:-1}
html,body,main,#page{height:100%;background-color:#fefefe}
section{width:100%;position:relative}
.home-page-padding{padding:50px 0}
.container,.container-nav{max-width:1200px;margin:0 auto;position:relative;padding:0 15px}
.container{margin:0 auto;padding:20px 15px}
.sm-container{max-width:700px;margin:0 auto;position:relative}
.flex{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.bg-squiggle{background-image:url("../img/squiggle.png");overflow:hidden}
.title-container-h1{text-align:center;padding:0 15px}
.title-container-h3{text-align:center}
.underline-green:before{background-color:#c2e5d6}
.underline-pink:before{background-color:#fee4db}
.underline-yellow:before{background-color:#fbe7b7}
.bg-grey{background-color:#f7f7f7}
.alert{display:none;border:1px solid #cdcdcd;border-radius:6px;width:96%;margin:5px auto}
.alert p{color:black;margin:0;padding:10px}
.success{background-color:#c2e5d6}
.error{background-color:#e88b8b}
.mt-1{margin-top:10px}
@media screen and (min-width:37.5em){.menu-toggle{display:none}
.main-navigation ul{display:block}
}@media all and (max-width:850px){.left-pic{margin:0 auto}
.left-pic .container{max-width:600px}
.left-pic-img{display:none}
.left-pic-text{width:100%;text-align:center;padding:10px 15px 30px}
.right-pic{margin:50px auto 0;max-width:600px}
.right-pic-img{display:none}
.right-pic-text{width:100%;text-align:center}
.blob{top:-300px;right:-700px;-webkit-transform:scale(0.7);transform:scale(0.7);-webkit-animation:heroMobile 20s ease-in-out infinite alternate;animation:heroMobile 20s ease-in-out infinite alternate}
.about-blob{top:-70px;left:-560px;-webkit-animation:aboutMobile 20s ease-in-out infinite alternate;animation:aboutMobile 20s ease-in-out infinite alternate;-webkit-transform:scale(0.7);transform:scale(0.7)}
}@media all and (max-width:782px){.admin-bar header{top:46px}
}@media screen and (max-width:768px){#timeline{margin:30px;padding:0;width:90%}
#timeline:before{left:0}
#timeline .timeline-item:before{left:0}
#timeline .timeline-item .timeline-content{width:90%;float:right}
#timeline .timeline-item .timeline-content .text-right{text-align:left}
#timeline .timeline-item .timeline-content .text-right .reverse-underline:before{left:50%}
#timeline .timeline-item .timeline-icon{left:0}
#timeline .timeline-item .timeline-number{display:none}
}@media all and (max-width:720px){html{font-size:15px}
.header-logo{top:10px}
#nav-menu{height:0;width:100%;overflow:hidden;background-image:url(../img/squiggle.png);-webkit-transition:400ms all ease-in-out;transition:400ms all ease-in-out;z-index:2}
#nav-menu ul{padding-top:100px}
#nav-menu li{display:block;width:100%;text-align:center;padding:1.4rem 0}
#nav-menu li:hover:before{width:0}
#nav-menu li a{font-size:1.6rem;padding:0 3rem}
#nav-menu li a:before{-webkit-transition:350ms width ease;transition:350ms width ease;z-index:-1;content:"";height:14px;width:0;background-color:#fdbfa9;bottom:0;right:4%;position:absolute}
#nav-menu li a:hover:before{width:50%}
#nav-menu .nav-btn{padding:6px 10px;margin:15px auto;width:300px}
#nav-toggle{display:block;margin:13px 20px 0 0}
#nav-menu.nav-open{height:104vh}
}@media(max-width:700px){.carousel img{width:1000px}
}@media all and (max-width:560px){blockquote{margin:2rem 1.2rem 2rem .5rem;padding:10px 20px 10px 20px;text-align:left;border-left:3px solid #21759b}
blockquote p{margin-top:0}
}@media(max-width:550px){.carousel img{width:850px}
}@media all and (max-width:500px){.card{padding:10px 20px 20px}
.card:before{display:none}
.card:after{left:auto;right:6px;top:-20px;-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.card-text{padding-right:10px}
.card-details img{display:block}
.card-img img{display:none}
.hiw-blob{top:70px;-webkit-transform:scale(0.7);transform:scale(0.7)}
}@media(max-width:400px){.carousel img{width:650px}
}@-webkit-keyframes slideDown{0%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px)}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}@keyframes slideDown{0%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px)}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}@-webkit-keyframes slideInLeft{0%{opacity:0;-webkit-transform:translateX(-40px);transform:translateX(-40px)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}@keyframes slideInLeft{0%{opacity:0;-webkit-transform:translateX(-40px);transform:translateX(-40px)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}@-webkit-keyframes slideInRight{0%{opacity:0;-webkit-transform:translateX(40px);transform:translateX(40px)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}@keyframes slideInRight{0%{opacity:0;-webkit-transform:translateX(40px);transform:translateX(40px)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}@-webkit-keyframes fadeIn{0%{opacity:0}
100%{opacity:1}
}@keyframes fadeIn{0%{opacity:0}
100%{opacity:1}
}@-webkit-keyframes hiw{0%{-webkit-transform:scale(0.8);transform:scale(0.8)}
100%{-webkit-transform:scale(0.9) rotate(-12deg) translate(-10px,10px);transform:scale(0.9) rotate(-12deg) translate(-10px,10px)}
}@keyframes hiw{0%{-webkit-transform:scale(0.8);transform:scale(0.8)}
100%{-webkit-transform:scale(0.9) rotate(-12deg) translate(-10px,10px);transform:scale(0.9) rotate(-12deg) translate(-10px,10px)}
}@-webkit-keyframes about{0%{-webkit-transform:scale(0.8);transform:scale(0.8)}
100%{-webkit-transform:scale(0.9) rotate(-12deg) translate(-60px,40px);transform:scale(0.9) rotate(-12deg) translate(-60px,40px)}
}@keyframes about{0%{-webkit-transform:scale(0.8);transform:scale(0.8)}
100%{-webkit-transform:scale(0.9) rotate(-12deg) translate(-60px,40px);transform:scale(0.9) rotate(-12deg) translate(-60px,40px)}
}@-webkit-keyframes aboutMobile{0%{-webkit-transform:scale(0.6);transform:scale(0.6)}
100%{-webkit-transform:scale(0.7) rotate(-16deg) translate(-60px,40px);transform:scale(0.7) rotate(-16deg) translate(-60px,40px)}
}@keyframes aboutMobile{0%{-webkit-transform:scale(0.6);transform:scale(0.6)}
100%{-webkit-transform:scale(0.7) rotate(-16deg) translate(-60px,40px);transform:scale(0.7) rotate(-16deg) translate(-60px,40px)}
}@-webkit-keyframes hero{0%{-webkit-transform:scale(0.9) translate(10px,0);transform:scale(0.9) translate(10px,0)}
100%{-webkit-transform:scale(1) translate(15px,50px) rotate(-20deg);transform:scale(1) translate(15px,50px) rotate(-20deg)}
}@keyframes hero{0%{-webkit-transform:scale(0.9) translate(10px,0);transform:scale(0.9) translate(10px,0)}
100%{-webkit-transform:scale(1) translate(15px,50px) rotate(-20deg);transform:scale(1) translate(15px,50px) rotate(-20deg)}
}@-webkit-keyframes heroMobile{0%{-webkit-transform:scale(0.6);transform:scale(0.6)}
100%{-webkit-transform:scale(0.7) translate(-15px,-20px) rotate(-12deg);transform:scale(0.7) translate(-15px,-20px) rotate(-12deg)}
}@keyframes heroMobile{0%{-webkit-transform:scale(0.6);transform:scale(0.6)}
100%{-webkit-transform:scale(0.7) translate(-15px,-20px) rotate(-12deg);transform:scale(0.7) translate(-15px,-20px) rotate(-12deg)}
}